ul.flexcontainer-team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 100%;
        // border: 1px solid red;
        margin-bottom: 20px;
    }
}

.about-header-flexcontainer-item {

    h1 {
        margin-bottom: 0;
    }
}

.flexcontainer-team-members-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-member-name {
    font-weight: 700;
    margin-bottom: 0;
}

.team-member-descr {
    margin-top: 0;
}

@media (min-width: 700px) {
    ul.flexcontainer-team-members li {
        width: 45%;
    }

    .about-h2 {
        text-align: center;
    }
}

@media (min-width: 1366px) {
    ul.flexcontainer-team-members li {
        width: 30%;
    }

    .about-header-flexcontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about-header-flexcontainer-item {
            width: 35%;
        }

        .about-header-flexcontainer-img {
            display: inline-block;
            width: 60%;

            img {
                // width: 30%;
                height: auto;
            }
        }
    }
}