$font: 'Poppins', sans-serif;

$main-text-color: black;

$color-blue: #006FE2;

$color-blue-hover: #005BB9;

$color-add-cart: #FFDE51;

$color-add-cart-hover: #FCD637;

$color-save: #5F97F7;

$color-save-hover: #4E8DF8;

$color-cancel: #AC1616;

$color-cancel-hover: #910000;